@use 'mixins' as *;
@use 'config' as *;
@use 'var' as *;

@include b(button) {
	line-height: 1;
	white-space: nowrap;
	cursor: pointer;
	-webkit-appearance: none;
	text-align: center;
	box-sizing: border-box;
	color: var(--ear-button-text-color);
	background-color: var(--ear-button-bg-color);
	border: var(--ear-border-width-base) var(--ear-border-style-base) var(--ear-button-border-color);
	border-color: var(--ear-button-border-color);
	outline: none;
	margin: 0;
	transition: 0.1s;
	user-select: none;
	padding: 12px 20px;
	--ear-button-text-color: var(--ear-color-white);
	--ear-button-hover-text-color: var(--ear-color-white);
	--ear-button-disabled-text-color: var(--ear-color-white);
	--ear-button-active-text-color: var(--ear-color-white);
	--ear-button-bg-color: var(--ear-color-white);

	& + & {
		margin-left: 10px;
	}
	// &:hover,
	// &:focus {
	// 	color: var(--ear-button-hover-text-color);
	// 	// background-color: var(--ear-button-hover-bg-color);
	// 	border-color: var(--ear-button-hover-border-color, var(--ear-button-hover-bg-color));
	// 	outline: none;
	// }
	&:active {
		color: var(--ear-button-active-text-color);
		border-color: var(--ear-button-active-border-color, var(--ear-button-active-bg-color));
		background-color: var(--ear-button-active-bg-color, var(--ear-button-bg-color));
		outline: none;
	}

	&::-moz-focus-inner {
		border: 0;
	}
	@include m(default) {
		--ear-button-hover-text-color: var(--ear-color-primary);
		--ear-button-active-text-color: var(--ear-color-primary);
		--ear-button-disabled-text-color: #c0c4cc;
		--ear-button-text-color: var(--ear-text-color-regular);
		--ear-button-disablega-border-color: var(--ear-text-color-disabled);
		--ear-button-border-color: #dcdfe6;
		--ear-button-hover-bg-color: var(--ear-color-primary-light-3);
		&:hover,
		&:focus {
			border-color: var(--ear-button-border-color);
		}
		&:active {
			border-color: var(--ear-color-primary);
			background-color: var(--ear-button-hover-bg-color);
		}
	}

	@include m(primary) {
		--ear-button-bg-color: var(--ear-color-primary);
	}

	@include m(success) {
		--ear-button-bg-color: var(--ear-color-success);
	}

	@include m(info) {
		--ear-button-bg-color: var(--ear-color-info);
		&:hover,
		&:focus {
			cursor: not-allowed;
			--ear-button-bg-color: var(--ear-color-info) !important;
		}
	}

	@include m(warning) {
		--ear-button-bg-color: var(--ear-color-warning);
	}

	@include m(danger) {
		--ear-button-bg-color: var(--ear-color-danger);
	}

	@include when(round) {
		border-radius: var(--ear-border-radius-round);
		padding: 12px 23px;
	}

	@include when(disabled) {
		&,
		&:hover,
		&:focus {
			cursor: not-allowed;
			color: var(--ear-button-disabled-text-color);
			background-color: var(--ear-button-disabled-bg-color);
			border-color: var(--ear-button-disablega-border-color);
		}
	}
}
