.target-detail-page {
    .target-panel {
        padding: 10px;
        background: #ffffff;
        line-height: 25px;
        margin-bottom: 20px;
        .item-title {
            font-size: 14px;
        }
        .item-info {
            color: #999999;
            display: flex;
            .item {
                font-size: 12px;
                display: inline-block;
                width: 96px;
            }
            .item-detail {
                flex: 1;
                font-size: 12px;
                display: inline-block;
            }
        }

        .no-data{
            text-align: center
        }
    }
}